.grid-holder {
  height: 400px;
  font-family: Arial;
  font-size: 10px;
  display: none;
}

.chosen-container-single .chosen-single {
  height: 34px;
  padding-top: 4px;
}

.chosen-container-single .chosen-single div {
  top: 5px;
}
